alias \
         cls='clear' \
#         sudo='doas' \
         ll='exa -la' \
         la='ls -A' \
         lld='ls -ld ' \
         l='ls -CF' \
         c='clear' \
         la='ls -A' \
         l='ls -CF' \
         grep='grep --color=auto' \
         mv='mv -i' \
         rm='rm -i' \
         cp='cp -i' \
         lsa='ls -lA' \
         config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME' \
         r='ranger' \
         wtr='curl wttr.in' \
         ls='ls --color=auto' \
         cat='bat' \
	 vim='nvim' \
alias vim='nvim'
alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -lA'
alias l='ls'
alias l.="ls -A | egrep '^\.'"
alias cd..='cd ..'
alias pdw="pwd"
alias udpate='sudo pacman -Syyu'
alias upate='sudo pacman -Syyu'
alias updte='sudo pacman -Syyu'
alias updqte='sudo pacman -Syyu'
alias upqll="yay -Syu --noconfirm"
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias df='df -h'
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias rmpacmanlock="sudo rm /var/lib/pacman/db.lck"
alias rmlogoutlock="sudo rm /tmp/arcologout.lock"
alias free="free -mt"
alias uac="sh ~/.bin/main/000*"
alias wget="wget -c"
alias userlist="cut -d: -f1 /etc/passwd"
alias merge="xrdb -merge ~/.Xresources"
alias pacman='sudo pacman --color auto'
alias update='sudo pacman -Syyu'
alias pksyua="yay -Syu --noconfirm"
alias upall="yay -Syu --noconfirm"
alias psa="ps auxf"
alias psgrep="ps aux | grep -v grep | grep -i -e VSZ -e"
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"
alias update-fc='sudo fc-cache -fv'
alias skel='cp -Rf ~/.config ~/.config-backup-$(date +%Y.%m.%d-%H.%M.%S) && cp -rf /etc/skel/* ~'
alias bupskel='cp -Rf /etc/skel ~/.skel-backup-$(date +%Y.%m.%d-%H.%M.%S)'
alias cb='sudo cp /etc/skel/.bashrc ~/.bashrc && source ~/.bashrc'
#alias cz='sudo cp /etc/skel/.zshrc ~/.zshrc && source ~/.zshrc'
alias tobash="sudo chsh $USER -s /bin/bash && echo 'Now log out.'"
alias tozsh="sudo chsh $USER -s /bin/zsh && echo 'Now log out.'"
alias kc='killall conky'
alias hw="hwinfo --short"
alias yayskip='yay -S --mflags --skipinteg'
alias trizenskip='trizen -S --skipinteg'
alias microcode='grep . /sys/devices/system/cpu/vulnerabilities/*'
alias mirror="sudo reflector -f 30 -l 30 --number 10 --verbose --save /etc/pacman.d/mirrorlist"
alias mirrord="sudo reflector --latest 50 --number 20 --sort delay --save /etc/pacman.d/mirrorlist"
alias mirrors="sudo reflector --latest 50 --number 20 --sort score --save /etc/pacman.d/mirrorlist"
alias mirrora="sudo reflector --latest 50 --number 20 --sort age --save /etc/pacman.d/mirrorlist"
alias vbm="sudo /usr/local/bin/arcolinux-vbox-share"
alias yta-aac="youtube-dl --extract-audio --audio-format aac "
alias yta-best="youtube-dl --extract-audio --audio-format best "
alias yta-flac="youtube-dl --extract-audio --audio-format flac "
alias yta-m4a="youtube-dl --extract-audio --audio-format m4a "
alias yta-mp3="youtube-dl --extract-audio --audio-format mp3 "
alias yta-opus="youtube-dl --extract-audio --audio-format opus "
alias yta-vorbis="youtube-dl --extract-audio --audio-format vorbis "
alias yta-wav="youtube-dl --extract-audio --audio-format wav "
alias ytv-best="youtube-dl -f bestvideo+bestaudio "
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"
alias riplong="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -3000 | nl"
alias iso="cat /etc/dev-rel | awk -F '=' '/ISO/ {print $2}'"
alias cleanup='sudo pacman -Rns $(pacman -Qtdq)'
alias jctl="journalctl -p 3 -xb"
alias nlightdm="sudo nano /etc/lightdm/lightdm.conf"
alias npacman="sudo nano /etc/pacman.conf"
alias ngrub="sudo nano /etc/default/grub"
alias nconfgrub="sudo nano /boot/grub/grub.cfg"
alias nmkinitcpio="sudo nano /etc/mkinitcpio.conf"
alias nmirrorlist="sudo nano /etc/pacman.d/mirrorlist"
alias bls="betterlockscreen -u /usr/share/backgrounds/arcolinux/"
alias gpg-check="gpg2 --keyserver-options auto-key-retrieve --verify"
alias gpg-retrieve="gpg2 --keyserver-options auto-key-retrieve --receive-keys"
alias big="expac -H M '%m\t%n' | sort -h | nl"
alias downgrada="sudo downgrade --ala-url https://bike.seedhost.eu/arcolinux/"
alias probe="sudo -E hw-probe -all -upload"
alias ssn="sudo shutdown now"
alias sr="sudo reboot"
#create a file called .bashrc-personal and put all your personal aliases
